doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/jquery.min.js',type='text/javascript', crossorigin="anonymous")
    script(src='/js/bootstrap.js',type='text/javascript', crossorigin="anonymous")

  body
    block content
